input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-top: 50px;
}


.sentiment {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-top: 50px;
}

.max {
  z-index:999;
}

.wait {
  z-index:-1;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: x-large;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  z-index:999;
  font-style:italic;
  font-weight:bold;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}




table		{
border:1px solid #888;
font-size: small;
border-collapse:collapse;
}

th		{
border:1px solid #ccc;

text-align:left;
padding-top:0px;
padding-bottom:0px;
vertical-align:top;
padding-left:3px;
padding-right:3px;

color:white;
background-color:#888;
white-space:nowrap;
}

th.hdr		{
color:black;
font-size: big;
font-weight:bold;
background-color:white;
padding-bottom:7px;
border-left:1px solid white;
border-right:1px solid white;
border-top:1px solid white;
}


td		{
border:1px solid #ccc;
vertical-align:top;
word-wrap:normal;
text-align:right;
padding-left:3px;
padding-right:3px;
padding-top:0px;
padding-bottom:0px;
white-space:nowrap;
}


td.em		{
text-align:left;
font-style:italic;
border-left:1px solid white;
border-right:1px solid white;
font-size: xx-small;
}

td.sm		{
font-size: xx-small;
}








